<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>View_User_Detail</servlet-name>
        <servlet-class>Admin_Module.View_User_Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_User</servlet-name>
        <servlet-class>Admin_Module.Search_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Ques</servlet-name>
        <servlet-class>Admin_Module.Add_Ques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Ques</servlet-name>
        <servlet-class>Admin_Module.Update_Ques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Ques</servlet-name>
        <servlet-class>Admin_Module.Delete_Ques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_Ques_List</servlet-name>
        <servlet-class>Admin_Module.View_Ques_List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_Result</servlet-name>
        <servlet-class>Admin_Module.View_Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change_Password</servlet-name>
        <servlet-class>Admin_Module.Change_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_Feedback</servlet-name>
        <servlet-class>Admin_Module.View_Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Admin_Module.Logout</servlet-class>
        <servlet>
            <servlet-name>Logout</servlet-name>
            <servlet-class>Admin_Module.Logout</servlet-class>
        </servlet>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Admin_Module.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>Admin_Module.check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Admin_Module.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConf</servlet-name>
        <servlet-class>Admin_Module.RegistrationConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Authentication</servlet-name>
        <servlet-class>Admin_Module.Login_Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Admin_Module.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About_Us</servlet-name>
        <servlet-class>Admin_Module.About_Us</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check1</servlet-name>
        <servlet-class>Admin_Module.check1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check2</servlet-name>
        <servlet-class>Admin_Module.check2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check3</servlet-name>
        <servlet-class>Admin_Module.check3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start_Exam</servlet-name>
        <servlet-class>Member_Module.Start_Exam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Member_Module.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Member</servlet-name>
        <servlet-class>Member_Module.Member</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact_Us</servlet-name>
        <servlet-class>Admin_Module.Contact_Us</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show_Student</servlet-name>
        <servlet-class>Admin_Module.Show_Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updated_Success</servlet-name>
        <servlet-class>Admin_Module.Updated_Success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Ques_Conf</servlet-name>
        <servlet-class>Admin_Module.Add_Ques_Conf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Ques_Conf</servlet-name>
        <servlet-class>Admin_Module.Delete_Ques_Conf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_News_Conf</servlet-name>
        <servlet-class>Admin_Module.Delete_News_Conf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change_Pwd_Conf</servlet-name>
        <servlet-class>Admin_Module.Change_Pwd_Conf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Success_Conf</servlet-name>
        <servlet-class>Admin_Module.Update_Success_Conf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback_Conf</servlet-name>
        <servlet-class>Member_Module.Feedback_Conf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Answer_Match</servlet-name>
        <servlet-class>Member_Module.Answer_Match</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rules</servlet-name>
        <servlet-class>Admin_Module.Rules</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_All_Ques</servlet-name>
        <servlet-class>Admin_Module.View_All_Ques</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>View_User_Detail</servlet-name>
        <url-pattern>/View_User_Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_User</servlet-name>
        <url-pattern>/Search_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Ques</servlet-name>
        <url-pattern>/Add_Ques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Ques</servlet-name>
        <url-pattern>/Update_Ques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Ques</servlet-name>
        <url-pattern>/Delete_Ques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_Ques_List</servlet-name>
        <url-pattern>/View_Ques_List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_Result</servlet-name>
        <url-pattern>/View_Result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change_Password</servlet-name>
        <url-pattern>/Change_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_Feedback</servlet-name>
        <url-pattern>/View_Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConf</servlet-name>
        <url-pattern>/RegistrationConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Authentication</servlet-name>
        <url-pattern>/Login_Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About_Us</servlet-name>
        <url-pattern>/About_Us</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check1</servlet-name>
        <url-pattern>/check1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check2</servlet-name>
        <url-pattern>/check2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check3</servlet-name>
        <url-pattern>/check3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start_Exam</servlet-name>
        <url-pattern>/Start_Exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Member</servlet-name>
        <url-pattern>/Member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact_Us</servlet-name>
        <url-pattern>/Contact_Us</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show_Student</servlet-name>
        <url-pattern>/Show_Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updated_Success</servlet-name>
        <url-pattern>/Updated_Success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Ques_Conf</servlet-name>
        <url-pattern>/Add_Ques_Conf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Ques_Conf</servlet-name>
        <url-pattern>/Delete_Ques_Conf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_News_Conf</servlet-name>
        <url-pattern>/Delete_News_Conf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change_Pwd_Conf</servlet-name>
        <url-pattern>/Change_Pwd_Conf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Success_Conf</servlet-name>
        <url-pattern>/Update_Success_Conf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback_Conf</servlet-name>
        <url-pattern>/Feedback_Conf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Answer_Match</servlet-name>
        <url-pattern>/Answer_Match</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rules</servlet-name>
        <url-pattern>/Rules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_All_Ques</servlet-name>
        <url-pattern>/View_All_Ques</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
